.header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  display: block;
}

.header_button{
  display: flex;
  justify-content: space-between;
}

.header:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 2;
}

.header_body{
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.header_list{
  display: block;
}

.header_list li{
  list-style: none;
  background: white;
  border: 3px solid white;
  border-radius: 5px;
  margin-bottom: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  position: relative;
  z-index: 3;
  background: #FFFFFF;
  margin: 23.5px 0 23.5px 8px;
}

.logo__img{
  height: 13px;
  width: 145px;
}

.search{
  z-index: 3;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
}

.header_link{
  text-align: center;
  color: #886060;
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2),0px -5px 35px rgba(255,255,255,0.3);
}

.link_1{
  margin-top: 90px;
}

.header_burger{
  display: block;
  position: relative;
  width: 30px;
  height: 20px;
  z-index: 3;
  margin: 20px 10px 20px 0px;
}

.header_burger:before,
.header_burger:after{
  content: '';
  background: black;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}

.header_burger span{
  position: absolute;
  background: black;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s;
}

.header_burger:before{
  top: 0;
}
.header_burger:after{
  bottom: 0;
}

.header_burger._active:before{
  transform:rotate(45deg);
  top: 9px;
  transition: all 0.3s;
}
.header_burger._active:after{
  transform: rotate(-45deg);
  bottom: 9px;
  transition: all 0.3s ease 0s;
}
.header_burger._active span{
  display: none;
}

.header_menu{
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  transition: all 0.3s;
  color: black;
  padding-top: 30px;
}
.header_menu._active{
  top: 0;
}


@media screen and (min-width: $md ){
  .logo{
    margin-left: 34px;
  }
  .header_button{
    margin-right: 24px;
  }
  .search{
    margin-right: 40px;
  }
}
@media screen and (min-width: $lg ){
  .header{
    position: fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 50;
  }
  .header:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .header_body{
    position: relative;
    display: flex;
    height: 100px;
    align-items: center;
  }
  .container{
    width: 100%;
    max-width: 1440px;
    margin: 0px auto;
  }
  .header_list{
    display: flex;
    z-index: 2;
    position: relative;
  }
  .header_list li{
    list-style: none;
    margin: 0px;
    margin-left: 29px;
  }
  .header_list{
    color: black;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 75px;
  }
  .header_burger{
    display: none;
  }
  .header_link{
    border-bottom: none;
    font-size: 14px;
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: none;
    line-height: 16.8px;
    &:hover{
      transition: all 1s;
      border-bottom: 1px solid black;
      transform: scale(1.05);
    }
  }
  .header_menu{
    top: 0px;
    position: relative;
    z-index: 3;
    padding-top: 0px;
    background: #FFFFFF;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
  }
  .logo{
    margin-left: 135px;
  }
  .search{
    margin-right: 110px;
  }
}